
          <!--Main Navigation-->
          <nav id="nav-main">
            <ul>
                <li>
                    <a href="#banner">ثبت نام </a>
                </li>
                <li>
                    <a href="#about">ورود</a>
                </li>
                <li>
                    <a href="#gallery">سوالات متداول</a>
                </li>
                <li>
                    <a href="#services">دانلود اپلیکیشن</a>
                </li>
                <li>
                    <a href="#testimonials">میزبان شوید</a>
                </li>
                <li>
                    <a href="#clients">پشتیبانی</a>
                </li>
                <li>
                    <a href="#pricing">Pricing</a>
                </li>
            </ul>
        </nav>
        <!--End of Main Navigation-->