 
 
   <div class="container">
        <a data-scroll href="#how">
          <div class="arrow"></div>
        </a>
     </div>
     <br>
     <hr class="arrow-hr">
   <div>
       <h2 class="section-title"> مزایای میزبان شدن در اطاقک  </h2>
   </div>
  
        <!--Introduction-->
        <section id="about" class="introduction scrollto">
                <div id="how"></div>
            <div class="row clearfix icon-otaghak" > 
            <img src="../../assets/images/banner-images/otaghak-icon-3.png" alt="" style="margin-right: 50px;">  
            <br/>
            <p class="undericon">
            افزایش درآمد از طریق اجاره روزانه واحد مسکونی
            </p> 
            </div>

             <div class="row clearfix icon-otaghak"  > 
            
               <img src="../../assets/images/banner-images/otaghak-icon-2.png" alt="" style="margin-right: 50px;">   
               <br/>
                    <p class="undericon">
               اشتغال زایی برای سایر افراد خانواده 
                  </p>
             </div>

            <div class="row clearfix icon-otaghak" > 
            
            <img src="../../assets/images/banner-images/otaghak-icon-1.png" alt="" style="margin-right: 50px;">    
            <br>
                <p  class="undericon">
            تجربه آشنایی با افراد جدید
                </p>
            </div>
            
            <div class="row clearfix">
  
                    <div class="container">
                     <a data-scroll href="#full">
                       <div class="arrow"></div>
                     </a>
                  </div>
                  <br>
                  <hr class="arrow-hr">
                <div>
                    <p class="section-title">چگونه میزبان اطاقک شوید </p>
                </div>

                <div style="float:right" class="clearfix">
                    <div class="float-r clearfix">
                    <img src="../../assets/images/banner-images/icon1.png" alt="">
                    <P class="parastyle">پر کردن فرم و بارگزاری مشخصات شخصی و اطلاعات اقامتگاه </P>
                    </div>
                    <div  class="float-r" style="clear:right;">
                    <img src="../../assets/images/banner-images/icon2.png" alt="">
                    <P class="parastyle"> بروز رسانی مرتبت تقویم قیمت ها و پر و خالی بودن واحد اقامتی در پروفایل میزبان  </P>
                    </div>
                    <div  class="float-r clearfix" style="clear:right;">
                    <img src="../../assets/images/banner-images/icon.png" alt="">
                    <P class="parastyle" >
                    مهمان نوازی و اراعه خدمات با کیفیت برای ساختن خاطره ای دلچسب در ذهن مسافران 
                    </P>
                    </div>
                </div>



                <div id="full"></div>
       
            </div>
          
  
        </section>
        <!--End of Introduction-->
        <div class="container">
                <a data-scroll href="#question">
                  <div class="arrow"></div>
                </a>
             </div>
             <br>
             <hr class="arrow-hr">
           <div>
               <h2 class="section-title"> سوالات متداول میزبانی </h2>
           </div>

   