  
     
      
      <!--Testimonials-->
      <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">
           
              
              <div class="section-heading">
                  <h2 class="section-title"> نظر بعضی از  میزبانان اتاقک   </h2>
              </div>

              <!--User Testimonial-->
              <blockquote class="col-3 testimonial classic">
                  <img src="../src/assets/images/user-images/user01.png" alt="User"/>
                  <q> طبق تجربه بنده با همکاری با سایت های شمابه دیگر اتاقک با داشتن وب سایت کارآمد  نیروی متخصص و پیشتیبانی دقیق بسیار موفق عمل کرده و به جرات میتوانم بگویم همکاری من با اتاقک درآمدم در تمام فصول را تضمین کرده است </q>
                  <footer>آقای شریف <br>اقامتگاه پامچال</footer>
              </blockquote>
              <!-- End of Testimonial-->

              <!--User Testimonial-->
              <blockquote class="col-3 testimonial classic">
                  <img src="../src/assets/images/user-images/user02.png" alt="User"/>
                  <q>
                      اعتبار نام اتاقک و مجوز های مربوطه کسب شده توسط مجموعه در جذب مسافر  و بالا رفتن رزرو واحد اقامتی بنده تاثیر مثبتی داشته است
                  </q>
                  <footer>آقای رضایی اقامتگاه ولیسه</footer>
              </blockquote>
              <!-- End of Testimonial-->

              <!--User Testimonial-->
              <blockquote class="col-3 testimonial classic">
                  <img src="../src/assets/images/user-images/user03.png" alt="User"/>
                  <q>
                      طراحی جذاب و کارآمد سایت رزرو را برای مسافران و بروز رسانی واطلاعات را برای میزبان ها اسان و سریع کرده است 
                  </q>
                  <footer> آقای قاسمی اقامتگاه هفت یازده </footer>
              </blockquote>
              <!-- End of Testimonial-->

          </div>
        
      </aside>
      <!--End of Testimonials-->
