<div id="header" class="nav-collapse">
  <div class="row clearfix">
      <div class="col-1">

          <!--Logo-->
          <div id="logo">

              <!--Logo that is shown on the banner-->
              <img src="../assets/images/banner-images/logo.png" id="banner-logo" alt="Landing Page"/>
              <!--End of Banner Logo-->

              <!--The Logo that is shown on the sticky Navigation Bar-->
              <img src="../assets/images/banner-images/logo.png" id="navigation-logo" alt="Landing Page"/>
              <!--End of Navigation Logo-->

          </div>
          <!--End of Logo-->

         <app-social></app-social>

        <app-navigation></app-navigation>
        
          <div id="nav-trigger"><span></span></div>
          <nav id="nav-mobile" style="float:left;"></nav>

      </div>
  </div>
</div><!--End of Header-->

<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

<!--Banner Content-->
<div id="banner-content" class="row clearfix" >
 
    <div class="col-38 float-right">

        <div class="section-heading">
            <h1> میزبان اطاقک شوید و کسب درآمد کنید </h1>
            <h2> با پبت ننام در اطاقک وثبت واحد اقامتی خود (ویلاء  آپارتمان خانه سوییت اقامتگاه روستایی عشایری و بومگردی) میتوانیددر امد بالا داشته باشید     
            </h2>      
          </div>

        <!--Call to Action-->
        <a href="#" class="button"> ثبت نام</a>
        <!--End Call to Action-->

    </div>
    
</div><!--End of Row-->
</header>
  

